body {
  font-family: Arial;
}

.app {

}

.app-header--left {
  float: left;
  width: 50%;
  box-sizing: content-box;
}

.app-header--right {
  float: right;
  width: 50%;
  box-sizing: content-box;
}

.app-header {
  height: 220px;
  display: block;
  clear: both;
}

.app-logo {
  width: 200px;
  height: auto;
}
