.bio {
  flex: 1 1 50%;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  max-width: 50%;
  overflow: hidden;
  line-height: 0;
  padding: 0 10px 30px 10px;
}

.bio-name {
  font-family: 'neutra_text_tfbold_sc_alt', Arial;
  text-transform: uppercase;
  margin-bottom: 2px;
  line-height: 0.75em;
  letter-spacing: -0.05em;
}

.bio-image {
  width: 100%;
  height: 0;
  clear: both;
  position: relative;
  z-index: 100;
  padding-bottom: 100%;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  filter: saturate(90%) grayscale(20%) contrast(120%);

}

@supports (background-blend-mode: luminosity) {
  .bio-image {
    background-blend-mode: multiply, luminosity;
  }
}

@supports not(background-blend-mode: luminosity) {
  .bio-image {
    background-blend-mode: multiply, normal;
  }
}

.bio-icons {
  display: block;
  position: absolute;
  bottom: 0px;
  clear: both;
  width: 100%;
  padding: 8px 0;
  background-color: #fdd959;
  position: relative;
  text-align: center;
  border-top: 1px solid rgba(46, 46, 44 , 0.2);
}

.bio-icons a {
  padding: 4px 0;
}

@media screen and (min-width: 600px) {
  .bio {
    max-width: 33.30%;
    flex: 1 1 33.30%;
    padding: 0 15px 30px 15px;
  }
}

@media screen and (min-width: 850px) {
  .bio {
    max-width: 25%;
    flex: 1 1 25%;
    padding: 0 20px 40px 20px;
  }
}

@media screen and (min-width: 1223px) {
  .bio {
    max-width: 19.85%;
    flex: 1 1 19.85%;
    padding: 0 20px 40px 20px;
  }
}

@media screen and (min-width: 1641px) {
  .bio {
    max-width: 16.66%;
    flex: 1 1 16.66%;
    padding: 0 25px 50px 25px;
  }
}

.bio-appear {
  opacity: 0.01;
}

.bio-appear.bio-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in;
}
