.bio-image {
  width: 120px;
  height: 120px;
  background-size: cover;
  /*-webkit-filter: saturate(0%) brightness(1.3) contrast(200%) hue-rotate(120deg);*/
  filter: saturate(80%);
  background-color: #f9db3d;
  -webkit-background-blend-mode: multiply, luminosity;
  background-blend-mode: multiply, luminosity;
}
