.form {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  clear: both;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
}

.form-header {
  clear: both;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 10px 20px;
}

.form-wrapper {
  width: 100%;
  top: 0;
  padding: 5% 0px 0px 0px;
  background-color: #f9db3d;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.form--show {
  transform: none;
}

.form-field {
  flex-grow: 1;
  width: 100%;
  padding: 22px 20px 10px 20px;
  box-sizing: border-box;
  position: relative;
}

.form-field > label {
  box-sizing: border-box;
  display: inline-block;
  width: 120px;
  position: absolute;
  top: 0;
  line-height: 24px;
  font-size: 14px;
  color: #b59c1a;
  text-transform: lowercase;
}

.form-field > label span {
  color: #2e2e2c;
  font-size: 14px;
  text-transform: lowercase;
}

.form-input {
  font-family: 'neutra_text_tfbold_sc_alt', Arial;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: #2e2e2c;
  overflow: hidden;
  background-color: #ffffff;
  border: 0;
  text-transform: uppercase;
}

.form-input:focus,
.form-input:active {
  outline: none;
}

.form-icon {
  position: absolute;
  right: 25px;
  bottom: 9px;
  opacity: 0.3;
  line-height: 36px;
  font-size: 22px;
}

.form-welcome {
  box-sizing: border-box;
  position: absolute;
  font-family: 'neutra_text_tfbold_sc_alt', Arial;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  padding: 10px 20px;
  color: #2e2e2c;
  z-index: 10000;
  clear: both;
  background-color: #f9db3d;
  font-size: 20px;
  text-transform: uppercase;
  border-top: 1px solid rgba(255,255,255,0.4);
}

.form-welcome--left {
  float: left;
}

.form-welcome--center {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.form-welcome--right {
  float: right;
}

.form-welcome--right:hover {
  cursor: pointer;
}

.form-mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  height: 100%;
  background-color: #ffffff;
}

@media screen and (min-width: 770px) {
  .form-field {
    width: auto;
    min-width: 50%;
  }

  .form-field--expand {
    width: auto;
    min-width: 25%;
    max-width: 25%;
  }

  .form-welcome--center {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .form-field {
    min-width: 25%;
  }

  .form-field--expand {
    min-width: 25%;
    max-width: 25%;
  }
}

.mask-leave {
  opacity: 0.7;
}

.mask-leave.mask-leave-active {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.mask-enter {
  opacity: 0.0;
}

.mask-enter.mask-enter-active {
  opacity: 0.8;
  transition: opacity .3s ease-in;
}
