@font-face {
  font-family: 'bozemanjs';
  src: url('../font/bozemanjs.eot');
  src: url('../font/bozemanjs.eot#iefix') format('embedded-opentype'),
       url('../font/bozemanjs.woff2') format('woff2'),
       url('../font/bozemanjs.woff') format('woff'),
       url('../font/bozemanjs.ttf') format('truetype'),
       url('../font/bozemanjs.svg#bozemanjs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bozemanjs';
    src: url('../font/bozemanjs.svg?29369735#bozemanjs') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bozemanjs";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-globe:before { content: '\e800'; } /* '' */
.icon-stackoverflow:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-meetup:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */

.icon-down-open:before {
  transition: transform 0.2s linear;
}

.icon--rotate:before {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.icon--inline {
  color: #2e2e2c;
  opacity: 0.3;
  font-size: 20px;
  display: inline-block;
  margin: 0 4px;
  text-decoration: none;
  transition: opacity 0.075s linear;
}

.icon--inline:hover {
  cursor: pointer;
}

.icon--inline:hover,
.icon--inline:active {
  opacity: 1;
}

.icon--big  {
  opacity: 1;
  transform: scale(2.2);
}

@media screen and (min-width: 2001px) {
  .icon--inline {
    font-size: 26px;
  }
}
